{% extends 'base.html.twig' %}

{% block title %}Up'n'Com - Votre Agence 'Com à Mulhouse{% endblock %}

{% block body %}
<section class="hero">
    <div class="hero-content">
        <video autoplay muted loop poster="{{ asset('videos/herovideo-poster.webp')}}">
            <source src="{{ asset('videos/herovideo.mp4') }}" type="video/mp4" />
        </video>
    </div>
</section>

<div id="sections_Navbar">
    <ul class="frostedGlass">
        <li>
            <a id="section1_navBar" class="index_navBar" href="#section1">Up'n'Com: Votre agence à Mulhouse</a>
        </li>
        <li>
            <a id="section2_navBar" class="index_navBar" href="#section2">Notre offre</a>
        </li>
        <li>
            <a id="section3_navBar" class="index_navBar" href="#section3">Ils nous font confiance</a>
        </li>
        <li>
            <a id="section4_navBar" class="index_navBar" href="#section4">Derniers Articles</a>
        </li>
    </ul>
</div>

<h1>
    Bienvenue dans votre agence
</h1>

<section id="section1" class="section section-with-image">
    <div class="container">
        <div class="content-wrapper">
            <div class="text-column">
                <h2 class="section-title">
                    Up'n'Com, votre agence de communication à Mulhouse
                </h2>
                <p>
                    Après plusieurs années passées dans la gestion d’entreprise, j’ai créé Up’n’Com pour mettre ma
                    créativité et mon sens stratégique au service des dirigeants.
                </p>
                <p>
                    Ma mission : vous aider à prendre du recul, vous démarquer et gagner en visibilité grâce à une
                    communication originale, personnalisée… et ancrée dans la réalité de votre quotidien.
                </p>
                <p>
                    <strong>Grell-Wirtz, fondatrice d'Up’n’Com</strong>
                </p>
            </div>
            <div class="image-column">
                <div class="parallax-image" style="background-image: url('{{ asset("assets/uploads/Photo-de-Sophie-Grell-Wirtz-a--69257c2085f43.webp") }}');">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section2" class="section">
    <div class="container">
        <div class="content-wrapper">
            <div class="text-column">
                <h2 class="section-title">
                    Notre offre
                </h2>
            </div>
            <div class="service-card-wrapper">
                {% for service in services %}

                <twig:ServiceCard service="{{ service }}"></twig:ServiceCard>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="section3" class="section">
    <div class="container">
        <div class="content-wrapper">
            <div class="text-column">
                <h2 class="section-title">
                    Ils nous font confiance
                </h2>
            </div>

            <div class="client-card-carousel" 
                {% for client in clients %} {% set timing=loop.index * 20 %}
                    style="--spin: {{timing}} ;" 
                {% endfor %}>
                <div class="client-card-carousel-mask">
                </div>
                {% set timing = 0 %}
                {% for client in clients %}
                {% set timing = loop.index * 2 %}
                {% endfor %}

                <div class="client-card-wrapper">
                    {% for client in clients %}
                    <twig:ClientCard client="{{ client }}" class="{{ cycle(['', 'alt'], loop.index) }}">
                    </twig:ClientCard>
                    {% endfor %}
                </div>
                <div class="client-card-wrapper" aria-label="hidden">
                    {% for client in clients %}
                    <twig:ClientCard client="{{ client }}" class="{{ cycle(['', 'alt'], loop.index) }}">
                    </twig:ClientCard>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section4" class="section">
    <div class="container">
        <div class="content-wrapper">
            <div class="text-column">
                <h2 class="section-title">
                    Les derniers article de notre blog
                </h2>
            </div>
            <div class="article-card-wrapper">
                {% for article in articles %}
                <twig:ArticleComponent article='{{article}}' class="{{ cycle(['', 'alt'], loop.index) }}"
                    id="{{loop.index}}"></twig:ArticleComponent>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="see-all-articles">
        <a href="{{ path('app_article_index')}}">Voir tout nos articles</a>
    </div>
</section>

{% endblock %}