{% extends 'base.html.twig' %}

{% block title %}Up'n'Com : Nos Services{% endblock %}

{% block body %}
    <div class="heroImg">
    </div>
    <div>
        <h1>Nos Services</h1>

        <div id="servicesContainer">

            {% for service in services %}
                <div tabindex="{{loop.index0 + 1 }}" class="serviceCard {{ cycle(['gauche', 'droite'], loop.index0) }}">
                    <div class="services__card">
                        <div class="services__svg">
                            <img class="services__icon" src="{{ asset('icons/services/' ~ service.imageCouvertureURL) }}"> 
                        </div>
                        <div classe="services__title">
                            <h2>{{ service.titre }}</h2>
                        </div>
                        <div classe="services__content">
                            <p>{{ service.contenu }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
