<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up'n'Com - La NewsLetter</title>
    <style>
        * {
            color: black;
            background-color: antiquewhite;
        }
    </style>
</head>

<body>
    <h1>Up'n'Com - Votre demande de contact</h1>

    <p>Merci pour votre message. Il ne reste plus qu'une étape pour que celui-ci nous parvienne.</p>
    <p>Veuillez cliquer sur le lien ci-dessous pour valider votre adresse mail et envoyer votre message :</p>
        <a href="{{ absolute_url(path('app_contact_validate', {id: contact.id, token: contact.token } ))}}">{{
        absolute_url(path('app_contact_validate', {id: contact.id, token:contact.token }))}}</a>
    </p>

    <p>
        Résumé de votre demande:
        <div>Raison Sociale: {{ contact.raisonSociale }}</div>
        <div>Nom du contact: {{ contact.nomContact }}</div>
        <div>Téléphone: {{ contact.telephone }}</div>
        <div>Contenu du message: {{ contact.contenu }}</div>
        <div>Code Postal: {{ contact.cp }} Ville: {{ contact.ville }}</div>
    </p>
    {% if contact.accepteNewsletter %}
    {# <p>En cliquant sur le lien précédant, vous valider également votre souhaite de vous abonner à la newsletter</p>

    <p>Vous pourrez, si vous le souhaitez, vous désabonner à chaque instant grâce au lien suivant</p>
    <a href="{{ absolute_url( path('app_newsletters_unsubscribe', {id: subscriber.id, token: subscriber.token } ))}}">
        {{ absolute_url(path('app_newsletters_unsubscribe', {id: subscriber.id, token:subscriber.token } ))}}</a>
    <p><small>Ce lien ne sera actif qu'après votre validation</small></p> #}
    {% endif %}
    <p><small>Si vous ne valider pas votre message sous 24h, 
        ce dernier ainsi que toutes les données transmises seront automatiquement supprimées</small></p>
</body>

</html>