<nav class="nav-menu"> 
       <ul>
    <li>
        <a href="{{ path('home')}}">ACCUEIL</a>
    </li>
    <li>
        <a href="{{ path('app_service_index')}}">SERVICES</a>
    </li>
    <li>
        <a href="{{ path('app_article_index')}}">BLOG</a>
    </li>
    <li>
        <a href="{{ path('app_contact')}}">CONTACT</a>
    </li>
    <li>
        <a href="{{ path('app_realisation')}}">REALISATIONS</a>
    </li>
    <li class="socials">
        <a aria-label="lien vers la page Facebook de Up'n'Com" href="https://www.facebook.com/Upncom.fr/">{{
            ux_icon('fa:facebook-square', {class:
            'socialsIcon'}) }}</a>
        <a aria-label="lien vers la page Instagram de Up'n'Com" href="https://www.instagram.com/upncom.fr/">{{
            ux_icon('fa:instagram', {class:
            'socialsIcon'}) }}</a>
        <a aria-label="lien vers la page LindekIn de Up'n'Com" href="https://www.linkedin.com/company/up-n-com/">{{
            ux_icon('fa:linkedin-square', {class:
            'socialsIcon'}) }}</a>
    </li>
    </ul>

</nav>