{# templates/components/SearchComponent.html.twig #}

<div {{ attributes.defaults(stimulus_controller('appear')) }}>
    <div class="barre-recherche-wrapper frostedGlass">
        <label for="recherche">Rechercher:</label>
        <input type="search" data-model="debounce(1000)|query" name="recherche" class="barre-recharche">
    </div>
    <div id="results--{{ this.query }}">

        {% set lastItem = 0 %}

        <div class="article-container">
            {% for article in this.articles %}
                <twig:ArticleComponent article='{{article}}' class="{{ cycle(['', 'alt'], loop.index) }}"
                    id="article--page-{{page}}-{{loop.index}}">
                </twig:ArticleComponent>

                {% set lastItem = lastItem + loop.index %}
            {% endfor %}
            {# c'est là que la magie opère... prévoire une petite animation !
            Grâce au couple balise/id, remplacer dans le DOM l'article "loader" une fois les
            nouvelles infos reçues.#}
            {% if this.hasMore %}
                    <article class="blog-card loading frostedGlass" id="article--{{ page + 1 }}-{{ lastItem }}"
                        data-appear-target="loader" 
                        data-action="appear->live#action"
                        data-live-action-param="more">
                    </article>
            {% endif %}
            {% if not this.hasMore %}
            <div class="blog-card nomore frostedGlass">
                {% if not lastItem %}
                    aucun résultat pour votre recherche...
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>