{% set id = 0 %}
{% set FullCircle = 250 %}
{% set RatioCircle = 0.9 %}
{% set BaseCircle = FullCircle * RatioCircle %}
{% set OffsetCircle = ( FullCircle - BaseCircle) / 2 %}

<div{{ attributes }} class="service-card {{ page }} {{class}}" style="
        --size-from-service-card-component: {{ FullCircle }}px;
        --ratio-from-service-card-component: {{ RatioCircle }};
    ">
    {% set BgImage = asset('assets/uploads/'~ service.image ) %}
    <a href="{{ path('app_service_index')}}" class="frostedGlass">

        <div class="service-card-bg parallax-image " style="background-image: url('{{ BgImage }}');">

        </div>

        <h3 class="service-card-title frostedGlass ">
            <svg height="{{ FullCircle }}" width="{{ FullCircle }}" title="service"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ FullCircle }} {{ FullCircle }}">
                <path id="service-path-{{id}}" pathLength="2" d="
                M 0, 0
                a {{ BaseCircle / 2 }},{{ BaseCircle / 2}} 0 1,1 {{ BaseCircle }}, 0
                a {{ BaseCircle / 2 }},{{ BaseCircle / 2}}  0 1,1 {{ BaseCircle * -1}}, 0
                " fill="none" transform="translate( {{ OffsetCircle }}, {{ FullCircle / 2 }} )"></path>
                <text>
                    <textPath href="#service-path-{{id}}" startOffset="25%" text-anchor="middle"
                        dominant-baseline="middle">
                        {{ service.titre }}
                    </textPath>
                </text>
            </svg>
        </h3>
        <div class="service-card-body parallax-image" style="
            background-image: url('{{ BgImage }}');
        ">
        </div>
    </a>
    {% if page == 'service-index' %}
    <div class="service-card-content">
        {{ service.contenu | raw }}
    </div>
    {% endif %}
    </div>