{% set id = 0 %}
{% set FullCircle = 250 %}
{% set RatioCircle = 0.9 %}
{% set BaseCircle = FullCircle * RatioCircle %}
{% set OffsetCircle = ( FullCircle - BaseCircle) / 2 %}

<div{{ attributes }} class="service-card {{ page }} {{class}}" style="
        --size-from-service-card-component: {{ FullCircle }}px;
        --ratio-from-service-card-component: {{ RatioCircle }};
    ">
    {% set BgImage = asset('assets/uploads/'~ service.image ) %}
    <a href="{{ path('app_service_index')}}" class="frostedGlass">
        <h3 class="service-card-title ">
            <svg height="{{ FullCircle }}" width="{{ FullCircle }}" title="{{ service.titre }}"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ FullCircle }} {{ FullCircle }}">
                <path id="servicePath{{id}}" d="
                M {{ FullCircle / 2 - 1 }} {{ FullCircle - OffsetCircle }}
                A {{ BaseCircle / 2 }} {{ BaseCircle / 2}} 0 1 1 {{ FullCircle / 2 }} {{ FullCircle - OffsetCircle }}
                " fill-opacity="0"></path>
                <text text-anchor="middle" dominant-baseline="middle">
                    <textPath href="#servicePath{{id}}" startOffset="50%">
                        {{ service.titre }}
                    </textPath>
                </text>
            </svg>
        </h3>
        <twig:imagesComponent image='{{ service.image }}' class="service-card-body"></twig:imagesComponent>
    </a>
    {% if page == 'service-index' %}
    <div class="service-card-content">
        {{ service.contenu | raw }}
    </div>
    {% endif %}
    </div>